@page "/costomize"


<div class="Left-0 mr-6 w-[100%] h-[100vh] bg-[#666]">

    <SurveyPrompt />


    <div class="fixed top-[2%] left-[2%]">
        <a href="profile">
            <button class="cursor-pointer duration-200 hover:scale-125 active:scale-100" title="Go Back">
                <svg xmlns="http://www.w3.org/2000/svg" width="70px" height="70px" viewBox="0 0 24 24" class="stroke-blue-300">
                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" d="M11 6L5 12M5 12L11 18M5 12H19"></path>
                </svg>
            </button>
        </a>
      
    </div>


     <div class="fixed top-[3%] left-[34%] ">
        <div class="bg-[#222] shadow  w-[220px] h-[70px] rounded-[20px]">
            <div class="  flex flex-row space-x-[6px] ">
                <img class=" w-[70px] ml-[14px] h-[70px] " src="/images/perspective_matte-325-128x128.png" alt="Image description">
            <img class=" mt-[20px] ml-[118px] w-[40px] h-[40px] " src="/images/cancel.png" alt="Image description">
                <p class="text-4xl  mt-[18px] ml-[20px] pl-[5px]  font-extrabold text-gray-300 dark:text-white">20</p>


            </div>
        </div>
    </div>

    <div class="fixed top-[8%] left-[15%] ">
        <div class="bg-[#222] shadow mt-[100px] w-[100px] h-[100px] rounded-[20px]">
            <div class="flex justify-center items-center h-[100px]">
                @if (!character.Rifle)
                {
                    <button @onclick="BuyGun" title="Add New"
                            class="group cursor-pointer outline-none hover:rotate-90 duration-300">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="50px"
                             height="50px"
                             viewBox="0 0 24 24"
                             class="stroke-zinc-400 fill-none group-hover:fill-zinc-800 group-active:stroke-zinc-200 group-active:fill-zinc-600 group-active:duration-0 duration-300">
                            <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                                  stroke-width="1.5"></path>
                            <path d="M8 12H16" stroke-width="1.5"></path>
                            <path d="M12 16V8" stroke-width="1.5"></path>
                        </svg>
                    </button>
                }
                else
                {
                    <img class=" w-[80px] h-[80px]" src="/images/Rifle.png" alt="Image description">
                }

            </div>
        </div>
    </div>
    <div class="fixed top-[26%] left-[15%] ">
        <div class="bg-[#222] shadow mt-[100px] w-[100px] h-[100px] rounded-[20px]">
            <div class="flex justify-center items-center h-[100px]">
                @if (!character.Knife)
                {
                    <button @onclick="BuyGun" title="Add New"
                            class="group cursor-pointer outline-none hover:rotate-90 duration-300">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="50px"
                             height="50px"
                             viewBox="0 0 24 24"
                             class="stroke-zinc-400 fill-none group-hover:fill-zinc-800 group-active:stroke-zinc-200 group-active:fill-zinc-600 group-active:duration-0 duration-300">
                            <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                                  stroke-width="1.5"></path>
                            <path d="M8 12H16" stroke-width="1.5"></path>
                            <path d="M12 16V8" stroke-width="1.5"></path>
                        </svg>
                    </button>
                }
                else
                {
                    <img class=" w-[80px] h-[80px]" src="/images/Knife.png" alt="Image description">
                }
            </div>
        </div>
    </div>

    <div class="fixed top-[8.5%] right-[31%] ">
        <div class="bg-[#222] shadow mt-[80px] w-[100px] h-[100px] rounded-[20px]">
            <div class="flex justify-center items-center h-[100px]">
                @if (!character.Snipe)
                {
                    <button @onclick="BuyGun" title="Add New"
                            class="group cursor-pointer outline-none hover:rotate-90 duration-300">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="50px"
                             height="50px"
                             viewBox="0 0 24 24"
                             class="stroke-zinc-400 fill-none group-hover:fill-zinc-800 group-active:stroke-zinc-200 group-active:fill-zinc-600 group-active:duration-0 duration-300">
                            <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                                  stroke-width="1.5"></path>
                            <path d="M8 12H16" stroke-width="1.5"></path>
                            <path d="M12 16V8" stroke-width="1.5"></path>
                        </svg>
                    </button>
                }
                else
                {
                    <img class=" w-[80px] h-[80px]" src="/images/Snipe.png" alt="Image description">
                }
            </div>
        </div>
    </div>
    <div class="fixed top-[25.5%] right-[31%] ">
        <div class="bg-[#222] shadow mt-[100px] w-[100px] h-[100px] rounded-[20px]">
            <div class="flex justify-center items-center h-[100px]">
                @if (!character.ShotGun)
                {
                    <button @onclick="BuyGun" title="Add New"
                            class="group cursor-pointer outline-none hover:rotate-90 duration-300">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="50px"
                             height="50px"
                             viewBox="0 0 24 24"
                             class="stroke-zinc-400 fill-none group-hover:fill-zinc-800 group-active:stroke-zinc-200 group-active:fill-zinc-600 group-active:duration-0 duration-300">
                            <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                                  stroke-width="1.5"></path>
                            <path d="M8 12H16" stroke-width="1.5"></path>
                            <path d="M12 16V8" stroke-width="1.5"></path>
                        </svg>
                    </button>
                }
                else
                {
                    <img class=" w-[80px] h-[80px]" src="/images/anim1.png" alt="Image description">
                }
            </div>
        </div>
    </div>


    <div class="fixed top-[7.5%] left-[29.7%] ">
        <img class=" w-[355px] h-[330px] mt-[17%]" src="/images/CostomizeRed.png" alt="Image description">

    </div>
    <div class="fixed top-[55%] left-[16.2%] ">
        <div class="bg-[#222] shadow mt-[80px] w-[800px] h-[180px] rounded-[20px]">
            <div class="flex items-center justify-evenly pt-[5%] text-base text-gray-600 dark:text-gray-400">
                <div class="flex items-center">
                    <div class="w-12 h-12 bg-indigo-400 rounded-full flex items-center justify-center text-white text-xl">
                        1
                    </div>
                    <span class="ml-4 font-medium">Level one</span>
                </div>


                <div class="h-1 w-16 bg-blue-200 dark:bg-blue-600"></div>
                <div class="flex items-center">
                    <div class="w-12 h-12 bg-green-400 rounded-full flex items-center justify-center text-white text-xl">
                        2
                    </div>
                    <span class="ml-4 font-medium">Level 2</span>
                </div>
            </div>
            <div class=" ml-[37%] mt-[3%]">
                <MudButton Variant="Variant.Filled" Href="index" Style=" width: 200px; height: 45px;" EndIcon="@Icons.Material.Filled.Upgrade" Color="Color.Dark">Go</MudButton>
            </div>

        </div>
    </div>

    <InformIcon />
    @if (!isBuy)
    {
        <div class="fixed-bottom bottom-0 mb-[2px] ml-[28px]">
            <button @onclick="Story" title="Add New"
                    class="group cursor-pointer outline-none hover:rotate-90 duration-300">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="50px"
                     height="50px"
                     viewBox="0 0 24 24"
                     class="stroke-zinc-400 fill-none group-hover:fill-zinc-800 group-active:stroke-zinc-200 group-active:fill-zinc-600 group-active:duration-0 duration-300">
                    <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                          stroke-width="1.5"></path>
                    <path d="M8 12H16" stroke-width="1.5"></path>
                    <path d="M12 16V8" stroke-width="1.5"></path>
                </svg>
            </button>
        </div>
    }

    @if (isBuy)
    {
        <div class=" fixed top-0 w-[120%] h-[100vh] bg-[#000] inset-0 bg-black opacity-95">

            <div class=" fixed top-[100px] w-[850px] bg-[#222]  h-[510px] shadow mt-10 rounded-[20px] ml-[13%] mt-[45%] opacity-100">



                <div class="ml-[5%]">
                    <button @onclick="BuyGun" class="cursor-pointer duration-200 hover:scale-125 active:scale-100" title="Go Back">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24" class="stroke-blue-300">
                            <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" d="M11 6L5 12M5 12L11 18M5 12H19"></path>
                        </svg>
                    </button>
                </div>


                <div class="ShopItem">

                    <div class="  flex flex-row space-x-[100px] pt-[10px] ">
                        @if (character.Rifle)
                        {
                            <img class=" w-[100px] h-[100px] opacity-25" src="/images/Rifle.png" alt="Image description">
                            
                            
                        }
                        else{

                        <img class=" w-[100px] h-[100px] " src="/images/Rifle.png" alt="Image description">

                        }
                        @if (character.Knife)
                        {
                            <img class=" w-[100px] h-[100px] opacity-25 " src="/images/Knife.png" alt="Image description">
                        }
                        else{

                            <img class=" w-[100px] h-[100px] " src="/images/Knife.png" alt="Image description">

                        }
                        @if (character.Snipe)
                        {
                            <img class=" w-[100px] h-[100px] opacity-25" src="/images/Snipe.png" alt="Image description">
                        }
                        else{
                        <img class=" w-[100px] h-[100px]" src="/images/Snipe.png" alt="Image description">


                        }
                        @if (character.ShotGun)
                        {
                            <img class=" w-[100px] h-[100px] opacity-25" src="/images/anim1.png" alt="Image description">
                        }
                        else{
                            <img class=" w-[100px] h-[50px]" src="/images/ShotGun.png" alt="Image description">


                            }


                        </div>

                        <div class=" pt-[25px]  flex flex-row space-x-[130px] ">
                        @if (character.Rifle)
                        {
                            <MudAvatar Color="Color.Success" Variant="Variant.Outlined">
                                <MudIcon Icon="@Icons.Material.Filled.CheckCircleOutline" />
                            </MudAvatar>
                        }
                        else
                        {
                            <MudButton @onclick="BuyRifle" Variant="Variant.Filled" Style=" width: 100px; height: 35px;" EndIcon="@Icons.Material.Filled.ShoppingCart" Color="Color.Dark">خرید</MudButton>

                        }

                         @if (character.Knife)
                        {

                            <MudAvatar Color="Color.Success" Variant="Variant.Outlined">
                                <MudIcon Icon="@Icons.Material.Filled.CheckCircleOutline" />
                            </MudAvatar>
                        }
                        else
                        {
                            <MudButton @onclick="BuyKnife" Variant="Variant.Filled" Style=" width: 100px; height: 35px;" EndIcon="@Icons.Material.Filled.ShoppingCart" Color="Color.Dark">خرید</MudButton>

                        }

                         @if (character.Snipe)
                        {

                            <MudAvatar Color="Color.Success" Variant="Variant.Outlined">
                                <MudIcon Icon="@Icons.Material.Filled.CheckCircleOutline" />
                            </MudAvatar>
                        }
                        else
                        {
                            <MudButton @onclick="BuySnipe" Variant="Variant.Filled" Style=" width: 100px; height: 35px;" EndIcon="@Icons.Material.Filled.ShoppingCart" Color="Color.Dark">خرید</MudButton>

                        }

                        @if (character.ShotGun)
                        {

                            <MudAvatar Color="Color.Success" Variant="Variant.Outlined">
                                <MudIcon Icon="@Icons.Material.Filled.CheckCircleOutline" />
                            </MudAvatar>
                        }
                        else
                        {
                            <MudButton @onclick="BuyShotGun" Variant="Variant.Filled" Style=" width: 100px; height: 35px;" EndIcon="@Icons.Material.Filled.ShoppingCart" Color="Color.Dark">خرید</MudButton>

                        }

                        </div>

                    </div>

                    <div class="item-hints mr-[5%]">
                        <div class="hint" data-position="4">
                            <span class="hint-radius"></span>
                            <span class="hint-dot">Tip</span>
                            <div class="hint-content do--split-children">
                                <p>هر آیتم به میزان 5 امتیاز <br>قدرت شخصیت شما را بیشتر می کند</p>
                            </div>
                        </div>
                    </div>








                </div>

            </div>
    }

    @if (isPageStory)
    {
        <div class=" fixed top-0 w-[120%] h-[100vh] bg-[#000] inset-0 bg-black opacity-95">

            <div class=" fixed top-[100px] w-[500px] bg-[#111] h-[400px] shadow mt-10 rounded-[20px] ml-[25%] mt-[30%] opacity-100">
                <div class="flex flex-row ">
                    <img class=" w-[200px] h-[200px] mt-[17%]" src="/images/anim1.png" alt="Image description">
                    <div class="w-[300px] h-[200px] pr-[15px]">
                        <p class="pl-[0] Direction pt-[55%] text-[1.2em] text-gray-100 font-extrabold">
                            در این بخش شما می توانید شخصیت خود را ارتقا دهید و قدرت آن را برای نبرد های پیشرو تیمتان افزایش دهید
                        </p>
                    </div>
                </div>

            </div>

        </div>

    }



</div>


<style type="text/css">
    .Direction {
        direction: rtl;
    }

    .ShopItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap =35px;
        width: 780px;
        height: 204px;
        border-radius: 30px;
        margin-left: 40px;
        margin-top: 20px;
        background: #000;
        box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
    }

    .item-hints {
        --purple: #720c8f;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        padding-right: 170px;
    }

        .item-hints .hint {
            margin: 150px 0 0;
            position: relative;
            margin-left: 3%;
            margin-bottom: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .item-hints .hint-dot {
            z-index: 3;
            border: 1px solid #ffe4e4;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            -webkit-transform: translate(-0%, -0%) scale(0.95);
            transform: translate(-0%, -0%) scale(0.95);
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }

        .item-hints .hint-radius {
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -125px 0 0 -125px;
            opacity: 0;
            visibility: hidden;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        .item-hints .hint[data-position="1"] .hint-content {
            top: 85px;
            left: 50%;
            margin-left: 56px;
        }

        .item-hints .hint-content {
            width: 300px;
            position: absolute;
            z-index: 5;
            padding: 35px 0;
            opacity: 0;
            transition: opacity 0.7s ease, visibility 0.7s ease;
            color: #fff;
            visibility: hidden;
            pointer-events: none;
        }

        .item-hints .hint:hover .hint-content {
            position: absolute;
            z-index: 5;
            padding: 35px 0;
            opacity: 1;
            -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
            transition: opacity 0.7s ease, visibility 0.7s ease;
            color: #fff;
            visibility: visible;
            pointer-events: none;
        }

        .item-hints .hint-content::before {
            width: 0px;
            bottom: 29px;
            left: 0;
            content: "";
            background-color: #fff;
            height: 1px;
            position: absolute;
            transition: width 0.4s;
        }

        .item-hints .hint:hover .hint-content::before {
            width: 180px;
            transition: width 0.4s;
        }

        .item-hints .hint-content::after {
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
            bottom: 29px;
            left: 0;
            width: 80px;
            content: "";
            background-color: #fff;
            height: 1px;
            position: absolute;
            opacity: 1;
            -webkit-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
        }

        .item-hints .hint:hover .hint-content::after {
            opacity: 1;
            visibility: visible;
        }

        .item-hints .hint[data-position="4"] .hint-content {
            bottom: 85px;
            left: 50%;
            margin-left: 56px;
        }

</style>






@code {
    public Character character = new Character();

    public bool isPageStory { get; set; } = false;
    public bool isBuy { get; set; } = false;

    public void Story()
    {
        if (isPageStory)
        {
            isPageStory = false;
        }
        else
        {
            isPageStory = true;
        }
    }

    public void BuyRifle()
    {
        character.Rifle = true;
    }
    
    public void BuyShotGun()
    {
        character.ShotGun = true;
    }
    
    public void BuyKnife()
    {
        character.Knife = true;
    }

    public void BuySnipe()
    {
        character.Snipe = true;
    }

    public void BuyGun()
    {
        if (isBuy)
        {
            isBuy = false;
        }
        else
        {
            isBuy = true;
        }
    }


}