@using Dr.Abrishami_Ai.Client.Extention;

@inject AuthenticationStateProvider authenticationStateProvider;
@inject NavigationManager navManager;

<!-- start: Sidebar -->
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

<div class="fixed right-0 r-0 top-0 w-64 h-full bg-[#222] p-4 z-50 sidebar-menu transition-transform font-semibold">
    <a href="#" class="flex items-center ml-3 pb-4 pt-8 border-b border-b-gray-800">
        
        <span class="text-lg font-bold text-white mr-3 pt-1">تیم شماره یک</span>
        <div class="w-14 h-14 bg-[#495E57]  rounded-full object-cover"></div>
    </a>
    <ul class="mt-8 space-y-4 ">
        <li class="mb-1 group ">
          
            <MudButton Variant="Variant.Filled" Href="index" Style=" width: 200px; height: 50px;" EndIcon="@Icons.Material.Filled.Home" Color="Color.Dark">خانه</MudButton>
        </li>
        <li class="mb-1 group ">
       
            <MudButton Variant="Variant.Filled" Href="TeamDetail" Style=" width: 200px; height: 50px;" EndIcon="@Icons.Material.Filled.Groups3" Color="Color.Dark">گروه</MudButton>

        </li>
        <li class="mb-1 group ">
      
            <MudButton Variant="Variant.Filled" Href="Question" Style=" width: 200px; height: 50px;" EndIcon="@Icons.Material.Filled.Archive" Color="Color.Dark">سوالات</MudButton>

        </li>

        <li class="mb-1 group ">
       
            <MudButton Variant="Variant.Filled" Href="Shop" Style=" width: 200px; height: 50px;" EndIcon="@Icons.Material.Filled.ShoppingCart" Color="Color.Dark">فروشگاه</MudButton>
        </li>
        <li class="mb-1 group ">
       

            <MudButton Variant="Variant.Filled" Href="profile" Style=" width: 200px; height: 50px;" EndIcon="@Icons.Material.Filled.Bolt" Color="Color.Dark">پروفایل</MudButton>


        </li>
        <li class="mb-1 group ">
        
            <MudButton Variant="Variant.Filled" Href="Setting" Style=" width: 200px; height: 50px;" EndIcon="@Icons.Material.Filled.Settings" Color="Color.Dark">تنظیمات</MudButton>
        </li>

        <li class="mb-1 group  ml-[52px] pt-[10px]">
            <MudButton @onclick="LogOut" href="javascript:void(0)" Variant="Variant.Filled" Style=" width: 100px; height: 40px;" EndIcon="@Icons.Material.Filled.Logout" Color="Color.Dark">خروج</MudButton>
        </li>

       
    </ul>
</div>
<div class="fixed top-0 left-0 w-full h-full bg-black/50 z-40 md:hidden sidebar-overlay"></div>


@code{
    private async Task LogOut()
    {
        var authenticationExt = (AuthenticationExtention)authenticationStateProvider;
        await authenticationExt.UpdateAuthentication(null);
        navManager.NavigateTo("/", true);
    }
}
